.Genre-Header-Container {
    position: relative;
    height: 5rem;
    width: 7rem;
    display: flex;
    margin: 0.625rem;
}

.Genre-Image {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.Genre-Indicator {
    background-color: #4C63AA;
    color: white;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.62rem;
    position: absolute;
    bottom: 2px;
    right: 1px;
}