.Genre-Header-Container {
    position: relative;
    height: 7rem;
    width: 9rem;
    display: flex;
    margin: 0.625rem;
}

.Genre-Image {
    height: 7rem;
    width: 7rem;
    border-radius: 7rem;
}

.Genre-Indicator {
    background-color: #4C63AA;
    color: white;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.62rem;
    position: absolute;
    bottom: 35%;
    right: 10%;
}