.Card-Container-0 {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 0.625rem;
  margin: 0.3rem;
}

.Card-Container-1 {
  display: flex;
  flex-direction: column;
  background-color: #ababab;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 0.625rem;
  margin: 0.3rem;
}

.Image-Container {
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  align-self: center;
}

.Song-Name {
  color: black;
  align-self: flex-start;
  font-weight: lighter;
  margin-top: 0.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 13rem;
  text-align: left;
}

.Artist-Name {
  align-self: flex-start;
  font-weight: bold;
  font-size: small;
}

.Card-Footer {
  display: flex;
  justify-content: space-between;
}
