.Like-Button-Container {
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
  justify-self: flex-end;
  position: relative;
}

.centered {
  position: absolute;
  bottom: 30%;
  right: 35%;
}

.Heart-Button {
    width: 2rem;
    height: 2rem;
}