.Like-Button-Container {
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
}

.centered {
  position: relative;
  bottom: 50%;
  right: 50%;
}

.Heart-Button {
    position: absolute;
    width: 2rem;
    height: 2rem;
}