.Sync-Buton {
    background-color: #4c63aa;
    border-radius: 2rem;
    color: white;
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4rem 1.2rem;
}

.Landing-Page {
    align-self: center;
    justify-self: center;
}

.Landing-Body {
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center
}